body {
  font-family: "Roboto", sans-serif;
  background-color: #201d1d;
  color: white;
}

header h1 {
  font-family: Roboto, sans-serif;
  font-size: 75px;
  font-weight: 300;
}

.role-dropdown {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  width: 250px;
  padding: 0 20px;
}

/* Attributes Block */
.all-attributes-wrapper {
  /* border: 1px solid lightgoldenrodyellow; */
  display: flex;
  width: auto;
  justify-content: start;
}

.all-attributes-wrapper p {
  font-family: "Source Code Pro", monospace;
}

.all-attributes-wrapper h2 {
  padding-left: 20px;
  font-size: 25px;
  font-weight: 300;
}

/* Hidden Attributes Area*/
/* #attributes {
   border: 1px solid lightpink; 
} */

.hidden-attributes {
  /* border: 1px solid lightskyblue; */
  padding: 15px 20px;
  width: 250px;
}

.hidden-attributes span {
  float: right;
}

.hidden-attributes p {
  border: 1px solid white;
  padding: 4px;
  font-size: 16px;
}

/* Normal Attributes Area */
.attributes-wrapper {
  /* border: 1px solid lightsalmon; */
  display: flex;
  width: auto;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.attributes-wrapper div {
  margin-right: 15px;
  padding: 15px;
  width: 250px;
  min-width: 180px;
}

.attributes-wrapper span {
  float: right;
}

.attributes-wrapper p {
  border: 1px solid white;
  font-size: 16px;
  padding: 4px;
}

p.primary-attribute {
  color: lightgreen;
  font-weight: 600;
  border: 1px solid lightgreen;
}

p.secondary-attribute {
  color: lightseagreen;
  font-weight: 600;
  border: 1px solid lightseagreen;
}
